---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>
{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<hr/>

<h2>Invited Conference / Workshop Presentations</h2>
<ul>
  <li>AI Iin Cancer Research and Drug Discovery, Forbeck Forums, Aspen, CO, 2025</li>
  <li>Joint Statistical Meetings (JSM), Nashville, TN, 2025</li>
  <li>Computational Genomics Summer Institute (CGSI), UCLA, Los Angeles, CA, 2025</li>
  <li>International Chinese Statistical Association (ICSA), University of Connecticut, 2025</li>
  <li>Conference on Statistics in Genomics and Genetics (STATGEN), University of Minnesota, Minneapolis, 2025</li>
  <li>Midsouth Computational Biology & Bioinformatics Society Conference (MCBIOS), Salt Lake City, UT, 2025</li>
  <li>Spatial Multi-omics Working Group Seminar Series, 2025 (virtual)</li>
  <li>Brown Center for RNA Studies Symposium, Brown University, 2025</li>
  <li>Legorreta Cancer Center RNA Biology and Cancer Symposium, Brown University, 2024</li>
  <li>Conference on Statistical Learning and Data Science (SLDS), Irvine, CA, 2024</li>
  <li>Joint Statistical Meetings (JSM), Portland, OR, 2024</li>
  <li>Genome and AI Seminar Series, 2024 (virtual)</li>
  <li>International Forum of Single-cell Spatiotemporal Omics and Applications (SCSOA), China, 2024</li>
  <li>International Chinese Statistical Association (ICSA), Wuhan, China, 2024</li>
  <li>Great Lakes Bioinformatics Conference (GLBIO), Pittsburgh, PA, 2024</li>
  <li>New England Statistics Symposium (NESS), University of Connecticut, 2024</li>
  <li>Midsouth Computational Biology & Bioinformatics Society Conference (MCBIOS), Emory University, Atlanta, GA, 2024</li>
  <li>Data Science Workshop, Legorreta Cancer Center, Brown University, Providence, RI, 2024</li>
  <li>USDA ARS SCINet Translational Omics Working Group Webinar Series, 2024 (virtual)</li>
  <li>Plant and Animal Genome Conference (PAG 31), San Diego, CA, 2024</li>
  <li>Computational Tools for Single Cell Omics Workshop, ICERM, Providence, RI, 2023</li>
  <li>International Conference of the ERCIM WG on Computational and Methodological Statistics (CMStatistics), Berlin, Germany, 2023</li>
  <li>University of Michigan Single Cell Spatial Analysis Program Seminar, Ann Arbor, MI, 2023</li>
  <li>Boston Children’s Hospital Webinar Series, 2023 (virtual)</li>
  <li>Chinese Genomics Meet-up, 2022 (virtual)</li>
  <li>New England Statistics Symposium (NESS), 2022 (virtual)</li>
  <li>ENAR Spring Meeting, Houston, TX, 2022</li>
  <li>Joint Statistical Meetings (JSM), 2020 (virtual)</li>
  <li>Elizabeth Weiser Caswell Diabetes Institute, University of Michigan, Ann Arbor, MI, 2019</li>
</ul>

<h2>Invited Colloquium / Seminar Presentations</h2>
<ul>
  <li>Genome Science Institute Seminar Series, Boston University, 2025 (virtual)</li>
  <li>Department of Biomedical Informatics Seminar Series, University of Pittsburgh Cancer Center, 2025</li>
  <li>Biostatistics and Health Data Science Department Seminar, Indiana University, 2024</li>
  <li>Department of Biostatistics Seminar Series, Virginia Commonwealth University, 2024</li>
  <li>Department of Molecular Biology, Cell Biology, and Chemistry, Brown University, Providence, RI, 2024</li>
  <li>Pattern Theory Group Seminar, Division of Applied Mathematics, Brown University, Providence, RI, 2023</li>
  <li>Department of Biostatistics and Data Science, Wake Forest University, 2023</li>
  <li>Sydney Precision Data Science Centre, 2023</li>
</ul>

<h2>Guest Lectures in Courses</h2>
<ul>
  <li>Biol2010b (guest lecture), Brown University, 2024, 2025</li>
  <li>APMA 1080 (guest lecture), Brown University, 2023, 2024</li>
  <li>NEUR 1630 (guest lecture), Brown University, 2023, 2024</li>
  <li>APMA 1690 (guest lecture), Brown University, 2023</li>
</ul>
