{% assign letterstring = "a,b,c,d,e,f,g,h,i,j,k,l,m,n" %}
{% assign letters = letterstring | split: ',' %}
{% assign number = include.number | minus: 1 %}
<div class="carousel__holder">
    <div id="carousel{{ number }}" class="carousel">
        {% for item in page.carousels[number].images %}
          <input class="carousel__activator" type="radio" name="carousel{{ number }}" id="{{ number }}{{ letters[forloop.index0] }}" {% if forloop.first %}checked="checked"{% endif %} />
        {% endfor %}
        {% for item in page.carousels[number].images %}
          {% if forloop.index == forloop.length %}
            {% assign nextindex = 0 %}
          {% else %}
            {% assign nextindex = forloop.index0 | plus: 1 %}
          {% endif %}
          {% assign nextletter = letters[nextindex] %}
          {% if forloop.index0 == 0 %}
            {% assign previndex = forloop.length | minus: 1 %}
          {% else %}
            {% assign previndex = forloop.index0 | minus: 1 %}
          {% endif %}
          {% assign prevletter = letters[previndex] %}
          <div class="carousel__controls">
              <label class="carousel__control carousel__control--backward" for="{{ number }}{{ prevletter }}"></label>
              <label class="carousel__control carousel__control--forward" for="{{ number }}{{ nextletter }}"></label>
          </div>
        {% endfor %}
        <div class="carousel__track">
          <ul>
            {% for item in page.carousels[number].images %}
            <li class="carousel__slide" style="background-image: url('{{ item.image }}');"></li>
            {% endfor %}
          </ul>
        </div>
        <div class="carousel__indicators">
            {% for item in page.carousels[number].images %}
              <label class="carousel__indicator" for="{{ number }}{{ letters[forloop.index0] }}"></label>
            {% endfor %}
        </div>
    </div>
</div>

<style>
.carousel__holder {
  width: 100%;
  position: relative;
  padding-bottom: {{ include.height }}{{ include.unit }};
  margin: 1rem 0 1rem;
}

.carousel__track {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carousel__slide {
  flex: 0 0 auto;
  scroll-snap-align: start;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 70%;
  height: auto;
  margin: 0 auto;
}

.carousel__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.carousel__control {
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.carousel__control--backward {
  transform: rotate(180deg);
}

.carousel__indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.carousel__indicator {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #999;
  cursor: pointer;
  margin: 0 5px;
}

.carousel__indicator:hover {
  background-color: #666;
}

.carousel__activator {
  display: none;
}
</style>

<script>
  function isVisible(el) {
    while (el) {
      if (el === document) {
        return true;
      }

      var style = window.getComputedStyle(el);

      if (!el || !style) {
        return false;
      } else if (style.display === 'none' || style.visibility === 'hidden' || style.opacity === '0') {
        return false;
      } else if (
        (style.display === 'block' || style.display === 'inline-block') &&
        style.height === '0px' &&
        style.overflow === 'hidden'
      ) {
        return false;
      } else {
        return style.position === 'fixed' || isVisible(el.parentNode);
      }
    }
  }

  {% if include.duration %}
  setInterval(function () {
    var j = 0;
    var elements = document.querySelectorAll('#carousel{{ number }} .carousel__control--forward');
    for (i = elements.length - 1; i > -1; i--) {
      if (isVisible(elements[i])) j = i;
    }
    elements[j].click();
  }, {{ include.duration }}000);
  {% endif %}
</script>
