---
layout: default
---
<style>
  .card {
    box-shadow: 2px 2px 5px #888888 inset;
  }
  
  .card-img-top {
    max-height: 300px;
    object-fit: contain;
  }
</style>

<div id="main" role="main">
  <div class="archive">
    {% if page.title %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endif %}

    <div class="row row-cols-1 row-cols-xl-2">
      {% for publi in site.data.publist %}
        {% if publi.highlight == 1 %}
          <div class="col mb-4">
            <div class="card h-100 d-flex flex-column justify-content-between bg-light">
              <div class="card-body clearfix">
                <h2 class="card-title">{{ publi.title }}</h2>
                <img src="{{ site.url }}{{ site.baseurl }}/images/{{ publi.image }}" class="card-img-top" alt="{{ publi.title }}">
                <p class="card-text">{{ publi.description }}</p>
                <p class="card-text"><em>{{ publi.authors }}</em></p>
                <p class="card-text text-danger"><strong>{{ publi.news1 }}</strong></p>
                <p class="card-text">{{ publi.news2 }}</p>
              </div>
              <div class="card-footer px-0 mx-auto text-center w-100">
                <p class="card-link text-nowrap"><strong><a href="{{ publi.link.url }}">{{ publi.link.display }}</a></strong></p>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <p>&nbsp;</p>

    <h2>List of publications</h2>
    {% for publi in site.data.publist %}
      <p>
        {{ publi.title }}<br>
        <em>{{ publi.authors }}</em><br>
        <a href="{{ publi.link.url }}">{{ publi.link.display }}</a>
      </p>
    {% endfor %}
  </div>
</div>
